{% extends "base/base.html" %}

{% load static %}

{% block title %}
  <title>All meetups</title>
{% endblock title %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}" />
{% endblock site_css %}

{% block main_heading %}
  We got great meetups coming up
{% endblock main_heading %}

{% block header_content %}
  Find the one that best suits your needs
{% endblock header_content %}

{% block body %}
  <section>
    <h2>
      Upcoming meetups
    </h2>
    <ol>
      {% for meetup in meetups %}
        <li class="meetup-item">
          <article>
            <div class="meetup-summary">
              <div class="meetup-image">
                <img src="" alt="" />
              </div>
              <div class="meetup-details">
                <h3>
                  {{ meetup.title }}
                </h3>
                <address>{{ meetup.location }}</address>
              </div>
            </div>
            <div class="meetup-actions">
              <a href="{% url 'meetup-details' meetup.slug %}" class="btn">More details</a>
            </div>
          </article>
        </li>
      {% endfor %}
    </ol>
  </section>
{% endblock body %}
