{% extends "base/base.html" %}

{% load static %}

{% block title %}
  <title>All meetups</title>
{% endblock title %}

{% block site_css %}
  <link rel="stylesheet" href="{% static 'meetups/styles/all-meetups.css' %}" />
{% endblock site_css %}

{% block main_heading %}
  We got great meetups coming up
{% endblock main_heading %}

{% block header_content %}
  Find the one that best suits your needs
{% endblock header_content %}

{% block body %}
  <section>
    <h2>
      Upcoming meetups
    </h2>
    <ol>
      {% for meetup in meetups %}

        {% include "includes/meetup-item.html" with title=meetup.title location='New York' slug=meetup.slug image=meetup.image.url %}

      {% endfor %}
    </ol>
  </section>
{% endblock body %}
