{% extends "base/base.html" %}

{% load static %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block site_css %}
	
  <link rel="stylesheet" href="{% static "meetups/styles/meetup-detail.css" %}" />
{% endblock site_css %}

{% block main_heading %}
  {{ title }}
{% endblock %}

{% block body %}
  <article>
    <img src="" alt="" />
 
    <section id="location">
      <h2>
        Meetup location
      </h2>
      <address>This meetup takes place in <span>LOCATION</span> (ADDRESS).</address>
    </section>
 
    <section id="details">
      <h2>
        What's this meetup about?
      </h2>
      <p>
        {{ description }}
      </p>
      <footer>
        <p>
          Need more details? Please <a href="">contact the organizer</a> (but don't spam us :))
        </p>
      </footer>
    </section>
 
    <section id="registration">
      <h2>
        Join us!
      </h2>
      FORM
    </section>
  </article>
{% endblock %}
