{% extends "base/base.html" %}

{% load static %}

{% block title %}
  You registered successfully
{% endblock title %}

{% block site_css %}
  <link rel="stylesheet"
        href="{% static 'meetups/styles/registration-confirmation.css' %}" />
{% endblock site_css %}

{% block main_heading %}
  Thanks for signing up!
{% endblock main_heading %}

{% block header_content %}

{% endblock header_content %}

{% block body %}
  <section id="confirmation">
    <h2>
      You registered successfully!
    </h2>
    <p>
      Thanks for signing up - see you at the meetup!
    </p>
    <p>
      Got questions or can't make it? Please <a href="mailto:{{ organizer_email }}">contact the organizer</a> ahead of time
    </p>
  </section>
 
  <section id="continue">
    <p>
      Of course, you can sign up for more than one meetup!
    </p>
    <p>
      <a href="{% url "all-meetups" %}" class="btn">Explore our meetups</a>
    </p>
  </section>
{% endblock body %}
